.mealsList {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 6px;
  margin-left: -20px;
  margin-top: 160px;
}

.section {
  width: 100%;
  padding: 0;
}
