.mealsList {
  display: grid;
  width: 100%; /* Ensures it takes full width */
  max-width: 1200px; /* Prevents overflowing */
  margin: 0 auto; /* Centers the grid within the page */
  grid-template-columns: repeat(4, 1fr); /* Defines 4 equal columns */
  justify-items: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 6px; /* Adds space between items */
  margin-left: -20px;
  margin-top: 160px;
}

.section {
  width: 100%; /* Prevent horizontal scrolling */
  padding: 0; /* Ensure no extra padding affects layout */
}
